body{
  background-color: rgb(7, 7, 7);
}
img{
  border: 12px solid rgb(78, 75, 76);
}
nav{
  padding-top: 25px;
  font-size: 26px;
}
a:link{
  color: rgb(243, 242, 248);
}
a:visited{ 
  color:rgb(219, 25, 193);
}
a:hover{ 
  color: rgb(9, 155, 252);
}
a:active{
  color: rgb(76, 45, 248);
}
#trendH1{
  color: rgb(216, 227, 238);
  text-align: center;
}
#trendH3{
  color: rgb(216, 227, 238);
}
ol{
  padding-left: 34%;
}
li{
  color:aliceblue;
  font-size: 20px;
}